#inputfile{
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
}
.inline-wrap{
    display: inline-block;
    position: relative;
    text-align: center;
    align-content: middle;
    font-size: 1rem;
    overflow: hidden;
}
#inputfile+div{
    background-color: #3385ff;
    color: #fff;
    width:6ch;
    height:3ch;
    line-height: 3ch;
    border-radius: 0.2em;
}

.inline-wrap button{
    background-color: #3385ff;
    color: #fff;
    width:6ch;
    height:3ch;
    line-height: 3ch;
    border-radius: 0.2em;
    border:0;
    font-size: 1rem;
}